---
import Layout from "../layouts/main.astro";
---

<Layout title="Zen Browser">
  <section>
    <h2>Download Zen</h2>
    <p class="text-muted">
      We're thrilled for you to experience Zen Browser. First, let us know which
      device you're using. This will only take a moment, we promise.
    </p>
    <div>
      <h3 class="text-4xl font-semibold text-secondary">Platform</h3>
      <p class="text-muted">
        Choose the platform you want to download Zen for:
      </p>
    </div>
  </section>
</Layout>
