---
import Layout from "../layouts/main.astro";
---

<Layout title="Zen Browser">
  <div class="grid place-items-center h-screen content-center">
    <a href="/markdown-page" class="p-4 underline"
      >Markdown is also supported...</a
    >
  </div>
</Layout>
