---
import DownloadIcon from "./icons/download-icon.astro";
import LanguageIcon from "./icons/language-icon.astro";
import Navbar from "./navbar.astro";
---

<header>
  <Navbar />
  <section>
    <LanguageIcon class="dark:text-primary-dark h-7 w-7 text-primary" />
    <a href="/download" class="btn-base py-2"><DownloadIcon />v1.0.1-a.17</a>
  </section>
</header>

<style>
  @tailwind base;
  @layer base {
    header {
      @apply mt-md flex w-full items-center justify-between;
    }

    section {
      @apply flex items-center gap-10;
    }
  }
</style>
