---
import LanguageIcon from "./icons/language-icon.astro";
import Navbar from "./navbar.astro";
---

<header>
  <Navbar />
  <section>
    <LanguageIcon class="h-6 w-6 text-primary" />
    <a href="/download" class="btn-base py-2 px-4">Download Zen</a>
  </section>
</header>

<style>
  @tailwind base;
  @layer base {
    header {
      @apply flex w-full items-center justify-between pt-lg;
    }

    section {
      @apply flex items-center gap-4;
    }
  }
</style>
