---
import Download from "./download.astro";
import DownloadIcon from "./icons/download-icon.astro";
import LanguageIcon from "./icons/language-icon.astro";
import Navbar from "./navbar.astro";
---

<header>
  <Navbar />
  <section>
    <LanguageIcon class="dark:text-secondary-dark h-7 w-7 text-secondary" />
    <Download class="py-2 font-semibold"><DownloadIcon />v1.0.1-a.17</Download>
  </section>
</header>

<style>
  @tailwind base;
  @layer base {
    header {
      @apply mt-md flex w-full items-center justify-between;
    }

    section {
      @apply flex items-center gap-10;
    }
  }
</style>
