---
import DownloadIcon from "./icons/download-icon.astro";
import '@fontsource/dm-sans/700.css';
---

<section id="hero" class="section">
  <h2>Stay focused, browse faster</h2>
  <p class="max-w-prose text-xl text-muted">
    Zen is beautifully designed, privacy-focused, and packed with features. We
    care about your experience, not your data.
  </p>
  <div class="center flex flex-col gap-sm">
    <a href="/download" class="btn-base"> <DownloadIcon /> Download Zen</a>
    <p class="text-md text-muted/95">Available on Windows, Mac, and Linux</p>
  </div>
    <img
      src="https://media.discordapp.net/attachments/1302812062019358742/1302846711768678470/Default_Mode2.png?ex=67299a0d&is=6728488d&hm=6a9275e98149351b8415f76cf756d94c726b67beeefb59bbdab516e3a0c91203&=&format=webp&quality=lossless&width=1081&height=699"
      alt="Zen Logo"
      class="w-full rounded-lg drop-shadow-2xl"
    />
    <figcaption class="text-md text-muted/95">
      Your experience using Zen may change over time, as new features are added, improved and adjusted with upstream Firefox updates. User discretion is advised.
    </figcaption>
</section>
