---
import DownloadIcon from "./icons/download-icon.astro";
---

<section id="hero" class="section">
  <h2>Stay focused, browse faster</h2>
  <p class="max-w-prose text-xl text-muted">
    Zen is beautifully designed, privacy-focused, and packed with features. We
    care about your experience, not your data.
  </p>
  <div class="center flex flex-col gap-sm">
    <a href="/download" class="btn-base"> <DownloadIcon /> Download Zen</a>
    <p class="text-md text-muted/95">Available on Windows, Mac, and Linux</p>
  </div>
  <picture class="overflow-clip w-full grid center">
    <img
      src="https://media.discordapp.net/attachments/1302453497651925082/1302454819532963951/KaeiM8z.png?ex=6728d5d3&is=67278453&hm=5d1cfa80d2cc8a13be869d5f0eddfc7da55da17878eebad44cca2533bc0a5e3b&=&format=webp&quality=lossless&width=809&height=698"
      alt="Zen Logo"
      class="scale-110 w-full p-3"
    />
  </picture>
</section>
