---
import DownloadIcon from "./icons/download-icon.astro";
---

<section id="hero" class="section">
  <h2>Stay focused, browse faster</h2>
  <p class="max-w-prose text-lg text-muted">
    Zen is beautifully designed, privacy-focused, and packed with features. We
    care about your experience, not your data.
  </p>
  <div class="center flex flex-col gap-sm">
    <a href="/download" class="btn-base"> <DownloadIcon /> Download Zen</a>
    <p class="text-sm text-muted/95">Available on Windows, Mac, and Linux</p>
  </div>
  <img
    src="https://media.discordapp.net/attachments/1302453497651925082/1302664349655240825/nI0zVqK.png?ex=6728f037&is=67279eb7&hm=a307a77de19d56eb9165f3333a22ba5ea40e0ebb43fa1f03ecb11204ddc7e218&=&format=webp&quality=lossless&width=809&height=698"
    alt="Zen Logo"
  />
</section>
