<nav>
  <img
    alt="Zen Logo"
    loading="lazy"
    width="40"
    height="40"
    decoding="async"
    data-nimg="1"
    srcset="https://cdn.jsdelivr.net/gh/zen-browser/www@latest/public/logos/zen-black.svg 1x, https://cdn.jsdelivr.net/gh/zen-browser/www@latest/public/logos/zen-black.svg 2x"
    src="https://cdn.jsdelivr.net/gh/zen-browser/www@latest/public/logos/zen-black.svg"
  />
  <ul>
    <li><a href="/">Browser</a></li>
    <li><a href="/resources">Resources</a></li>
    <li><a href="/mods">Mods</a></li>
    <li>
      <a href="/donate">Donate</a>
    </li>
  </ul>
</nav>

<style>
  @tailwind base;
  @layer base {
    nav {
      @apply flex justify-center text-primary font-semibold text-lg gap-4;
    }
    ul {
      @apply hidden justify-center gap-8 p-4 md:flex;
    }
  }
</style>
