<nav>
  <img
    alt="Zen Logo"
    loading="lazy"
    width="40"
    height="40"
    decoding="async"
    data-nimg="1"
    srcset="https://cdn.jsdelivr.net/gh/zen-browser/www@latest/public/logos/zen-black.svg 1x, https://cdn.jsdelivr.net/gh/zen-browser/www@latest/public/logos/zen-black.svg 2x"
    src="https://cdn.jsdelivr.net/gh/zen-browser/www@latest/public/logos/zen-black.svg"
  />
  <ul>
    <li><a href="/">Browser</a></li>
    <li><a href="https://docs.zen-browser.app/">Resources</a></li>
    <li><a href="https://zen-browser.app/mods">Mods</a></li>
    <li>
      <a href="https://www.patreon.com/zen_browser?utm_medium=unknown&utm_source=join_link&utm_campaign=creatorshare_creator&utm_content=copyLink">Donate</a>
    </li>
  </ul>
</nav>

<style>
  @tailwind base;
  @layer base {
    nav {
      @apply flex justify-center gap-10 text-primary font-semibold text-lg;
    }
    ul {
      @apply hidden items-center justify-center gap-10 md:flex;
    }
  }
</style>
