---
import Header from "../components/header.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <!-- no search xP -->
    <meta name="robots" content="noindex, nofollow, noarchive, nocache, nosnippet, noimageindex">
    <meta name="robots" content="noindex" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
