---
import CircleEffect from "../components/circle-effect.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer/index.astro";
const { title } = Astro.props;
import "@fontsource/inter";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <!-- no search xP -->
    <meta
      name="robots"
      content="noindex, nofollow, noarchive, nocache, nosnippet, noimageindex"
    />
    <meta name="robots" content="noindex" />
    <title>{title}</title>
  </head>
  <body>
    <div class="flex min-h-screen flex-col items-center gap-y-4xl">
      <CircleEffect />
      <div
        class="absolute inset-0 -z-10 bg-gradient-to-b from-primary/20 to-transparent"
      >
      </div>
      <Header />
      <main class="container flex w-full flex-col gap-40"><slot /></main>
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  :root {
    --primary: hsl(6, 96%, 70%);
  }
</style>
