---
import CircleEffect from "../components/circle-effect.astro";
import Header from "../components/header.astro";
const { title } = Astro.props;
import '@fontsource/inter';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <!-- no search xP -->
    <meta
      name="robots"
      content="noindex, nofollow, noarchive, nocache, nosnippet, noimageindex"
    />
    <meta name="robots" content="noindex" />
    <title>{title}</title>
  </head>
  <body>
    <div class="container flex min-h-screen flex-col items-center gap-y-4xl">
      <CircleEffect />
      <Header />
      <main class="flex w-full flex-col gap-4"><slot /></main>
    </div>
  </body>
</html>

<style>
  body {
    background: linear-gradient(
        to bottom,
        hsla(22, 96%, 60%, 0.1),
        transparent 70%
      ),
      linear-gradient(to bottom, hsla(22, 96%, 60%, 0.05), transparent 50%),
      linear-gradient(to bottom, hsla(22, 96%, 60%, 0.03), transparent 30%);
    background-size: cover;
  }
</style>
